
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" >
    <div class="col-lg-12" style="background-color:#ffffff">
        <form id="act_form" method="post" action="#" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group mb-12">
                    <div class="alert alert-custom alert-default" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                        <div class="alert-text">
                            Chú ý: <code>.form-control</code> bạn phải nhập đủ các thông số trước khi tính toán.
                        </div>
                    </div>
                </div>
               


                <div class="form-group row">
                    <label class="col-2 col-form-label">Độ dài thực tế của cọc:</label>
                    <div class="col-8">
                        <input class="form-control" type="text" value="16" id="txt_chieu_dai_coc" name="txt_chieu_dai_coc">
                    </div>
                    <label class="col-2 col-form-label">m</label>
                </div>

                <!--đường kính cọc.-->
                <div class="form-group row">
                    <label class="col-2 col-form-label">Đường kính cọc :</label>
                    <div class="col-8">
                        <input class="form-control" type="search" value="0.35" id="txt_duong_kinh_coc" name="txt_duong_kinh_coc">
                    </div>
                    <div class="col-2 col-form-label">mm</div>
                </div>

                <!--Đoạn ngàm vào đài-->
                <div class="form-group row">
                    <label class="col-2 col-form-label">Đoạn ngàm vào đài:</label>
                    <div class="col-8">
                        <input class="form-control" type="search" value="0.5" id="txt_doan_ngam_vao_dai" name="txt_doan_ngam_vao_dai">
                    </div>
                    <div class="col-2 col-form-label">m</div>
                </div>


                <!--Số Thanh thép-->
                <div class="form-group row">
                    <label class="col-2 col-form-label">Số thanh thép :</label>
                    <div class="col-8">
                        <input class="form-control" type="search" value="4" id="txt_so_thanh_thep" name="txt_so_thanh_thep">
                    </div>
                    <div class="col-2 col-form-label">thanh</div>
                </div>


                <!--Đường kính thép-->
                <div class="form-group row">
                    <label class="col-2 col-form-label">Số thanh thép :</label>
                    <div class="col-8">
                        <input class="form-control" type="search" value="16" id="txt_duong_kinh" name="txt_duong_kinh">
                    </div>
                    <div class="col-2 col-form-label">thanh</div>
                </div>



            </div>
        </form>
        <div class="card-footer">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <button type="reset" id="btn_nhap_lieu_coc" name="btn_nhap_lieu_coc" class="btn btn-success mr-2">Tính Toán</button>
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    $(document).ready(function () {

        alert("xin chao minh tien");



        $("#btn_nhap_lieu_coc").click(function () {
            //validate dữ liệu
            alert("Đang ấn vào nút nhập lieeum đất");
            var chieudaylopdat = $("#txt_chieu_day").val();

            if (chieudaylopdat == "") {
                alert("Bạn chưa nhập chiều dayflowps đất.");
            }
            else {
                var form = $('#act_form')[0];
                var data = new FormData(form);
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: '/NhapLieuCoc/NhapLieuCoc',
                    data: data, // $("#form_act").serialize(),
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {

                        alert(response);
                    },
                    error: function (rs) {
                        console.log(rs);
                        //toastr["error"]("Có lỗi xảy ra trong quá trình tạo mới Khách hàng. Vui lòng thử lại sau");
                    }
                });
            }
        });
    })

</script>

