
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="table-responsive-lg">
    <table class="table" border="1">
        <thead c>
            <tr>
                <td>Mã lớp đất.</td>
                <td>Loại đất</td>
                <td>Trạng thái</td>
                <td>Chiều dày</td>
                <td>Dung trọng riêng</td>
                <td>Modun đàn hồi.</td>
                <td>Góc MS trong.</td>
                <td>Độ rời</td>
                <td>Qc</td>
                <td>N</td>
                <td>K</td>
                <td>alpha</td>

            </tr>
        </thead>
        <tbody id="tbody_dsDanhMuc" >
            <tr>
                <td>1</td>
                <td>Sét Pha</td>
                <td>Dẻo mềm.</td>
                <td>3.2</td>
                <td>18.6</td>
                <td>4800</td>
                <td>10</td>
                <td>9</td>
                <td>1200</td>
                <td>8</td>
                <td>0.5</td>
                <td>50</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {

        $("#btn_nhap_lieu_dat").click(function () {
            //validate dữ liệu
            alert("Đang ấn vào nút nhập lieeum đất");
            var chieudaylopdat = $("#txt_chieu_day").val();


            if (chieudaylopdat == "") {
                alert("Bạn chưa nhập chiều dayflowps đất.");
            }
            else {
                var form = $('#act_form')[0];
                var data = new FormData(form);
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: '/Service/NhapLieuDat',
                    data: data, // $("#form_act").serialize(),
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {

                    },
                    error: function (rs) {
                        console.log(rs);
                        //toastr["error"]("Có lỗi xảy ra trong quá trình tạo mới Khách hàng. Vui lòng thử lại sau");
                    }
                });
            }
        });



        $.ajax({
            url: "https://localhost:44380/GetListDiaChat",      // đây là API lấy ra tất cả các lớp đất
            type: "post",
            success: function (result) {
                //document.getElementById("tbody_dsDanhMuc").innerHTML = result;       
                alert(result);
                // Pare Chuỗi Json vừa mới nhận được từ server:
                var dsdm = JSON.parse(result);
                var str = ""
                for (var i = 0; i < dsdm.length; i++) {
                    str += "<tr>";
                    str += "<td>" + dsdm[i].MaLopDat + "</td>"; // code soid layer
                    str += "<td>" + dsdm[i].loaidat + "</td>";
                    str += "<td>" + dsdm[i].trangthai + "</td>";
                    str += "<td>" + dsdm[i].chieuday + "</td>";
                    str += "<td>" + dsdm[i].dungtrongrieng + "</td>";
                    str += "<td>" + dsdm[i].modundanhoi + "</td>";
                    str += "<td>" + dsdm[i].gocmasat + "</td>";
                    str += "<td>" + dsdm[i].doroi + "</td>";
                    str += "<td>" + dsdm[i].suckhangxuyen + "</td>";
                    str += "<td>" + dsdm[i].n + "</td>";
                    str += "<td>" + dsdm[i].k + "</td>";
                    str += "<td>" + dsdm[i].alpha + "</td>";
                    str += "</tr>";
                }

                $("#tbody_dsDanhMuc").html(str);
            }
        });
    })

</script>