
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!--Thân của chương trình-->

    <div class="row">
        <!--Thông số của đất nền-->
        <div class="col-md-6">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        NHẬP THÔNG SỐ CỦA ĐẤT NỀN.
                    </h3>
                </div>
                <!--frm _ Nhập liệu đất-->
                <form id="act_form" method="post" action="#" enctype="multipart/form-data" >
                    <div class="card-body">
                        <div class="form-group mb-8">
                            <div class="alert alert-custom alert-default" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                                <div class="alert-text">
                                    Chú ý: <code>.form-control</code> bạn phải nhập đủ các thông số trước khi tính toán.
                                </div>
                            </div>
                        </div>
                        <!--Lớp đất-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Chọn lớp đất</label>
                            <div class="col-8">
                                <select class="form-control">
                                    <option>Lớp 1.</option>
                                    <option>Lớp 2.</option>
                                    <option>Lớp 3.</option>
                                </select>
                            </div>
                            <div class="col-2 col-form-label">Đã Chọn</div>
                        </div>


                        <div class="form-group row">
                            <label class="col-2 col-form-label">Chiều dày</label>
                            <div class="col-8">
                                <input class="form-control" type="text" value="7.2 " id="txt_chieu_day" name="txt_chieu_day" />
                            </div>
                            <label class="col-2 col-form-label">Mét</label>
                        </div>

                        <!--Mã lớp Đấy LD+""-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Mã của lớp đất:</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="LD002" id="txt_ma_lop_dat" name="txt_ma_lop_dat" />
                            </div>
                            <div class="col-2 col-form-label">Tiền Tố LD</div>
                        </div>



                        <!--Loại đất.-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Loại Đất</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="Sét Pha" id="txt_loai_dat" name="txt_loai_dat" />
                            </div>
                            <div class="col-2 col-form-label">Đất</div>
                        </div>

                        <!--Trạng Thái-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Trạng Thái</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="Dẻo mềm" id="txt_trang_thai" name="txt_trang_thai" />
                            </div>
                            <div class="col-2 col-form-label">Đất</div>
                        </div>

                        <!--Dung trọng riêng-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Dung trọng riêng.</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="1.99" id="txt_dung_trong_rieng" name="txt_dung_trong_rieng" />
                            </div>
                            <div class="col-2 col-form-label">(Tấn/Mét khối)</div>
                        </div>

                        <!--Mô Đun đàn hồi.-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Mô đun đàn hồi.</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="4800" id="txt_mo_dun_dan_hoi" name="txt_mo_dun_dan_hoi" />
                            </div>
                            <div class="col-2 col-form-label">KN/m</div>
                        </div>

                        <!--Góc Ma sát Trong-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Góc ma sát trong.</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="10" id="txt_goc_ma_sat" name="txt_goc_ma_sat" />
                            </div>
                            <div class="col-2 col-form-label">Đơn vị độ</div>
                        </div>

                        <!--Độ rời-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Độ rời.</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="9" id="txt_do_roi" name="txt_do_roi" />
                            </div>
                            <div class="col-2 col-form-label">Độ Rời</div>
                        </div>

                        <!--Súc khoáng xuyên-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Sức Khoáng xuyên.</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="1200" id="txt_suc_khang_xuyen" name="txt_suc_khang_xuyen" />
                            </div>
                            <div class="col-2 col-form-label">Qc</div>
                        </div>


                        <!--Trị số xuyên tiêu chuẩn-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Xuyên Tiêu chuẩn (N)</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="27" id="txt_N" name="txt_N" />
                            </div>
                            <div class="col-2 col-form-label">Lần Đóng.</div>
                        </div>

                        <!--Trị số K-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Hệ số K</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="27" id="txt_k" name="txt_k" />
                            </div>
                            <div class="col-2 col-form-label">Lần Đóng.</div>
                        </div>

                        <!--anpha-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">anpha</label>
                            <div class="col-8">
                                <input class="form-control" type="search" value="27" id="txt_alpha" name="txt_alpha" />
                            </div>
                            <div class="col-2 col-form-label">Lần Đóng.</div>
                        </div>
                    </div>

                </form>
                <!--NÚt bấm-->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-10">
                            <button type="reset" id="btn_nhap_lieu_dat" name="btn_nhap_lieu_dat" class="btn btn-success mr-2">Nhập liệu nền đất.</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Thông số của tải trọng-->
        <div class="col-md-6">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        TẢI TRỌNG TÍNH TOÁN DƯỚI CHÂN CỘT.
                    </h3>
                </div>
                <!--begin::Form-->
                <form>
                    <div class="card-body">
                        <div class="form-group mb-8">
                            <div class="alert alert-custom alert-default" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                                <div class="alert-text">
                                    Chú ý: <code>Bắt buộc.</code> bạn phải nhập đủ các thông số trước khi tính toán, nếu không kết quả sai số web ko chịu trách nhiệm.
                                </div>
                            </div>
                        </div>
                        <!--No-->

                        <div class="form-group row">
                            <label class="col-2 col-form-label">No(T)</label>
                            <div class="col-8">
                                <input class="form-control" type="text" value="120" />
                            </div>
                            <label class="col-2 col-form-label">Tấn.</label>
                        </div>

                        <!--Mo-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Mo(T.M)</label>
                            <div class="col-8">
                                <input class="form-control" type="text" value="15.9" />
                            </div>
                            <label class="col-2 col-form-label">Tấn.Mét</label>
                        </div>

                        <!--Qo-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Qo(T)</label>
                            <div class="col-8">
                                <input class="form-control" type="text" value="3.2" />
                            </div>
                            <label class="col-2 col-form-label">Tấn</label>
                        </div>

                        <!--bc-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">bề rộng tiết diện cột.</label>
                            <div class="col-8">
                                <input class="form-control" type="text" value="35" />
                            </div>
                            <label class="col-2 col-form-label">cm</label>
                        </div>

                        <!--bc-->
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Chiều dài tiết diện cột.</label>
                            <div class="col-8">
                                <input class="form-control" type="text" value="40" />
                            </div>
                            <label class="col-2 col-form-label">cm</label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <button type="reset" class="btn btn-success mr-2">Xác nhận chọn tải trọng.</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<script>

    $(document).ready(function () {

        alert("xin chao minh tien");

       

        $("#btn_nhap_lieu_dat").click(function () {
            //validate dữ liệu
            alert("Đang ấn vào nút nhập lieeum đất");
            var chieudaylopdat = $("#txt_chieu_day").val();
        

            if (chieudaylopdat == "") {
                alert("Bạn chưa nhập chiều dayflowps đất.");
            }
            else {
                var form = $('#act_form')[0];
                var data = new FormData(form);
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: '/Service/NhapLieuDat',
                    data: data, // $("#form_act").serialize(),
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {

                        alert(response);
                    },
                    error: function (rs) {
                        console.log(rs);
                        //toastr["error"]("Có lỗi xảy ra trong quá trình tạo mới Khách hàng. Vui lòng thử lại sau");
                    }
                });
            }
        });
    })

</script>